{% load i18n static %}
<input type="hidden" name="{{ name }}" id="{{ attrs.id }}" value="{{ picture.name }}"/>
<input type="hidden" name="data_{{ name }}" id="data_{{ attrs.id }}" value="{{ picture.stream}}"/>
<div id="webcam-monitor" style="display: inline-block;"></div>
<img class="camera-preview" id="{{ attrs.id }}-image" width="{{ width }}" height="{{ height }}" style="display: inline-block; vertical-align: top;"></img>
</div>
<br/>
<script type="text/javascript">
    $(window).load(function () {
        var previous_data = $("#data_{{ attrs.id }}").attr('value');
        if (previous_data != "") {
            $("#{{ attrs.id }}-image").attr('src', 'data:image/png;base64,' + previous_data);
        }
    });
    $(window).load(function () {
        SingleMonitor({swffile:"{% static 'webcam/jscam.swf' %}"});
    })
</script>
<br/>
{{ attrs.file }}
<input style="margin-left: 105px; margin-top: -20px;" type="button" id="snap" class="btn" value="Сделать фото"/>