{% load i18n static %}
<video id="video" width="320" height="240" autoplay></video>
<canvas id="canvas" width="320" height="240"></canvas>
<br/>
<input type="button" class="btn" id="snap" value='Сделать фото' style="margin-left: 105px; margin-top: 7px;"/>

<input type="hidden" name="data_{{ name }}" id="data_{{ attrs.id }}" value="{{ picture.stream }}"/>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function() {
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = { "video": true },
            errBack = function(error) {
                console.log("Video capture error: ", error.code);
            };

        if(navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoObj, function(stream) {
                video.src = stream;
                video.play();
            }, errBack);
        } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(videoObj, function(stream){
                video.src = window.URL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
        else if(navigator.mozGetUserMedia) { // Firefox-prefixed
            navigator.mozGetUserMedia(videoObj, function(stream){
                video.src = window.URL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
    }, false);


    document.getElementById("snap").addEventListener("click", function() {
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d");
	    context.drawImage(video, 0, 0, 320, 240);

        document.getElementById('data_{{ attrs.id }}').value = canvas.toDataURL("image/jpeg")
    });

    window.onload = function() {
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d");

        var image = new Image();
            image.onload = function() {
            context.drawImage(image, 0, 0);
        };
        image.src = 'data:image/jpeg;base64,' + document.getElementById('data_{{ attrs.id }}').value;
    }
</script>
